# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
/.vs
/TooManyRules.Models/bin/Debug/netcoreapp1.0
/TooManyRules.Models/obj
/TooManyRules.WebApi/bin/Debug/netcoreapp1.1
/TooManyRules.WebApi/obj/Debug/netcoreapp1.1
/TooManyRules.WebApi/obj
*.user
